# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.env
*.log

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/

# Local development
*.sqlite
*.db

# Docker
Dockerfile
.dockerignore

# Deployment files que ya no usaremos
render.yaml
vercel.json

# Documentation
README.md
LICENSE

# Misc
.DS_Store
