beautifulsoup4
black
certifi
charset-normalizer

# Seguridad
cryptography
fastapi
flake8
# Web Framework y dependencias relacionadas
Flask

# Google API
google-api-python-client
google-auth
google-auth-httplib2
gunicorn
html5lib
idna

# Logging mejorado
loguru

# Visualización y gráficos
matplotlib
numpy
pandas
Pillow

# Monitoreo y métricas
prometheus-client

# Utilidades y herramientas de desarrollo
pydantic
PyJWT

# Testing y desarrollo
pytest
pytest-cov

# Utilidades y herramientas
python-dotenv
python-json-logger
pytz
reportlab

# Requests y manejo de HTTP
requests
rich
seaborn
statsd
structlog
typer
urllib3
uvicorn[standard]
Werkzeug

# Procesamiento de HTML y PDF
xhtml2pdf
